@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-popp: var(--font-poppins);

  /* Deep Crimson */
  --deep-crimson-50: #fbeaea;
  --deep-crimson-100: #f7d5d4;
  --deep-crimson-200: #eeabaa;
  --deep-crimson-300: #e6817f;
  --deep-crimson-400: #dd5755;
  --deep-crimson-500: #d52d2a;
  --deep-crimson-600: #aa2422;
  --deep-crimson-700: #801b19;
  --deep-crimson-800: #551211;
  --deep-crimson-900: #2b0908;
  --deep-crimson-950: #1e0606;

  /* Jet Black */
  --jet-black-50: #eef4f6;
  --jet-black-100: #dde8ee;
  --jet-black-200: #bbd2dd;
  --jet-black-300: #99bbcc;
  --jet-black-400: #77a4bb;
  --jet-black-500: #558eaa;
  --jet-black-600: #447188;
  --jet-black-700: #335566;
  --jet-black-800: #223944;
  --jet-black-900: #111c22;
  --jet-black-950: #0c1418;

  /* Platinum */
  --platinum-50: #f0f2f4;
  --platinum-100: #e2e6e9;
  --platinum-200: #c5ccd3;
  --platinum-300: #a8b3bd;
  --platinum-400: #8b99a7;
  --platinum-500: #6e7f91;
  --platinum-600: #586674;
  --platinum-700: #424c57;
  --platinum-800: #2c333a;
  --platinum-900: #16191d;
  --platinum-950: #0f1214;

  /* Amber Earth */
  --amber-earth-50: #fdf3e8;
  --amber-earth-100: #fbe8d0;
  --amber-earth-200: #f7d0a1;
  --amber-earth-300: #f3b972;
  --amber-earth-400: #efa243;
  --amber-earth-500: #eb8a14;
  --amber-earth-600: #bc6f10;
  --amber-earth-700: #8d530c;
  --amber-earth-800: #5e3708;
  --amber-earth-900: #2f1c04;
  --amber-earth-950: #211303;

  /* Blaze Orange */
  --blaze-orange-50: #feefe7;
  --blaze-orange-100: #fddece;
  --blaze-orange-200: #fbbe9d;
  --blaze-orange-300: #f99d6c;
  --blaze-orange-400: #f77d3b;
  --blaze-orange-500: #f55c0a;
  --blaze-orange-600: #c44a08;
  --blaze-orange-700: #933706;
  --blaze-orange-800: #622504;
  --blaze-orange-900: #311202;
  --blaze-orange-950: #220d01;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: rgb(255, 255, 255);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullet {
  background: var(--jet-black-500) !important;
  width: 10px !important;
  height: 10px !important;
  margin: 0 10px !important;
  opacity: 0.5 !important;
  transition: all 0.3s ease-in-out !important;
}

.swiper-pagination-bullet-active {
  background: var(--jet-black-900) !important;
  width: 16px !important;
  opacity: 1 !important;
  height: 16px !important;
  transform: scale(1.2) !important;
}

.swiper-pagination {
    bottom: 20px;
}

html {
  scroll-behavior: smooth;
}